.button-wrap {
  margin: 5px;
}

.button__button {
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  font-size: 14px;
  border-radius: 20px;
  background: var(--main-blue-color);
  color: var(--main-white-color);
}

.button__button:hover {
  opacity: 0.8;
}

.delete-btn {
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    border-radius: 20px;
    background: none;
    color: var(--main-grey-color);
}