* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.entry-form {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 7px #00000080;
    border-radius: 12px;
    width: 30%;
    height: 100%;
}

.title {
    font-size: 25px;
}

.label {
    margin: 0px;
}

.title-text {
    text-align: center;
}

.data {
    /* text-align: center; */
    padding: 10px;
}

.buttons {
    text-align: center;
}

input[type="text"] {
    font-family: inherit;
    /* 1 */
    font-size: inherit;
    /* 1 */
    line-height: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
}

/* установим отступ 1rem от нижнего края элемента */
.text-field {
    margin-bottom: 1rem;
}

/* стили для label */
.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
    text-align: left;
    font-size: 15px;
}

/* стили для input */
.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -150px;
}

.btn {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 12px;
}

.register-btn:hover {
    background: #8bb1fb;
}

.sign-in-btn{
    background:#fff;
    color: #4676D7;
    margin-bottom: 0px;
}

.sign-in-link {
    text-decoration: none;
    color: #4676D7;
}

.sign-in-link:hover {
    text-decoration: none;
    color: #92b4f9;
}
