<div id="openAddModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Добавить пользователя</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <label class="text-field__label">Логин</label>
                {{> "input/input"}}
            </div>
            <div class="buttons">
                <button class="modal-btn">
                    <a href="#close" style="color:#fff">
                        Добавить
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>