<div id="openDeleteModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить диалог?</p>
                <br>
                <div class="yes-no-buttons">
                    <button class="yes-btn">
                        <a href="#close" style="color:#fff">
                            ДА!
                        </a>
                    </button>
                    <button class="no-btn">
                        <a href="#close" class="no-btn">
                            Нет
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
