<div id="openAddModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Добавить пользователя</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <label class="text-field__label">Логин</label>
                {{> "input/input"}}
            </div>
            <div class="buttons">
                <button class="modal-btn">
                    <a href="#close" style="color:#fff">
                        Добавить
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="openDeletePersonModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Удалить пользователя</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <label class="text-field__label">Логин</label>
                {{> "input/input"}}
            </div>
            <div class="buttons">
                <button class="modal-btn">
                    <a href="#close" style="color:#fff">
                        Удалить
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="openDeleteModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить диалог?</p>
                <br>
                <div class="yes-no-buttons">
                    <button class="yes-btn">
                        <a href="#close" style="color:#fff">
                            ДА!
                        </a>
                    </button>
                    <button class="no-btn">
                        <a href="#close" class="no-btn">
                            Нет
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
