---
styles:
- '../styles/password-change.css'

labels: 
- {
    name: 'Старый пароль',
    label: 'oldPassword',
    type: 'text'
}
- {
    name: 'Новый пароль',
    label: 'newPassword',
    type: 'password'
}
- {
    name: 'Повторите новый пароль',
    label: 'newPassword',
    type: 'password'
}
---


{{!< layout}} <div class="back-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 19 19" fill="none" stroke="#999999"
        stroke-width="3" stroke-linecap="butt" stroke-linejoin="arcs">
        <path d="M15 18l-6-6 6-6" />
    </svg>
    <a href="./profile.hbs" class="back-btn">
        Назад
    </a>
    </div>

    <div class="profile-container">
        <div class="profile">
            <div class="avatar-wrap">
                <img src="../asserts/noimage.png" alt="" class="profile-img">
            </div>
            <div class="name-wrap">
                <p class="name">
                    <b>
                        Екатерина
                    </b>
                </p>
            </div>
            <div class="wrap">
                {{#each labels}}
                <div class="info-wrap">
                    <p class="info-label">
                        {{this.name}}
                    </p>
                    <div class="edit-input">
                        {{> "input/input"}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="save-btn-wrap">
            <button class="save-btn">
                <a href="./profile.hbs" style="color:#fff">
                    Сохранить
                </a>
            </button>
        </div>
    </div>
