---
styles:
   - '../styles/register.css'

labels: 
- {
    name: 'Email',
    label: 'email',
    type: 'text'
}
- {
    name: 'Логин',
    label: 'login',
    type: 'text'

}
- {
    name: 'Имя',
    label: 'first_name',
    type: 'text'
}
- {
    name: 'Фамилия',
    label: 'second_name',
    type: 'text'

}
- {
    name: 'Телефон',
    label: 'phone',
    type: 'text'
}
- {
    name: 'Пароль',
    label: 'password',
    type: 'password'
}
- {
    name: 'Пароль еще раз',
    label: 'phone',
    type: 'password'
}
---


{{!< layout}}

<div class="block">
    <div class="entry-form">
        <div class="title">
            <p class="title-text">Регистрация</p>
        </div>
        <div class="data">
            {{#each labels}}
            <label class="text-field__label" for="{{this.label}}">{{this.name}}</label>
            {{>'input/input'}}
            {{/each}}
        </div>
        <div class="buttons">
            <button class="btn register-btn">
                <a href="./index.hbs" style="color:#fff">
                    Зарегистрироваться
                </a>
            </button>
            <br>
            <button class="btn sign-in-btn">
                <a href="./login.hbs" class="sign-in-link">
                    Войти
                </a>
            </button>
        </div>
    </div>
</div>
